.boton-contenedor{
    height: 83px;
    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #1b1b32;
    color: #FFF;
    margin: 4px;
    border-radius: 25px;
    border: 2px solid #FFF;
    cursor: pointer;
    user-select: none;
    transition: all 0.35s;
}

.boton-contenedor:hover{
    background-color: #5a01a7;
    transition: all 0.35s;
}

.operador{
    background-color: #00471b;
    transition: all 0.35s;
}
.operador:hover{
    background-color: #FF6600;
    transition: all 0.35s;
}